/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 20px;
    width: 150%;
}

.company-info {
    text-align: left;
}

.company-info h1 {
    margin: 0;
    font-size: 1.5em;
    width: 400%;
}

.company-info h2 {
    margin: 0;
    font-size: 1.2em;
    color: #666;
}

.company-info p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #666;
    width: 400%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20;
}

nav ul li a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

main {
    padding-top: 80px; /* Adjusted to account for fixed header */
}

section {
    padding: 50px;
    margin: 0px auto;
    max-width: 10000px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.light-green-bg-2 {
    background-image: url('image/綠沙背2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product-grid a {
    text-align: center;
    color: black; /* Text color */
    text-decoration: none; /* No underline */
    width: 30%; /* Each product takes up 30% of grid space */
}

.product-grid img {
    width: 100%; /* Full width of the link */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .product-grid {
        flex-direction: column;
    }

    .product-grid a {
        margin-bottom: 20px; /* Space between items when stacked */
    }
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #495057;
}
